
body {
	background-image: linear-gradient(to top right, #234fef, #fff);
   background-image: linear-gradient(to right bottom, red, maroon);

	padding: 10px;
	width: 80vw;
	margin: 10px auto;
	text-align: center;
	line-height: 1.1em;
	font-size: 1.3em;
}

img {
	width: 40vw;
	height: 80vh;
	border-radius: 5px;
}

#img-div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 5vh 0px;
}

input, select {
	margin: 5px;
	padding: 3px;
	border-radius: 5px;
}

#currency {
	margin: 5vh 0px;
}

.form {
	display: flex;
	flex-flow: row wrap;
}

.form-div {
	flex: 1 1 100%;
}

@media all and (max-width: 450px){


body {
		width: 90vw;
	}

#img-div {
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 5vh 0px;
  }

  img {
  	flex: 1 100%;
  	width: 80vw;
  	margin: auto;
  }

}